# ==========================================
# Configuración del LLM (ej. OpenAI)
# ==========================================
OPENAI_API_KEY="clave_de_openai"

# ==========================================
# Configuración de LangSmith (Observabilidad)
# ==========================================
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="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"
LANGCHAIN_PROJECT="cimat-taller-agentes"